html, body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
}

h1 {
    border-bottom: 0.0625rem solid #c4c4c4; /* 1px / 16px */
}

.oldagram {
    width: 7.9375rem; /* 127px / 16px */
    height: 6.25rem; /* 100px / 16px */
}

.profile {
    border-radius: 50%;
    width: 2.125rem; /* 34px / 16px */
    height: 2.125rem; /* 34px / 16px */
}

#container, .img-div {
    display: flex;
    align-items: center;
}

#container {
    justify-content: space-between;
}

section .profile {
    float: left;
}

.sub {
    margin-left: 3.25rem; /* 52px / 16px */
}

.sub-2 {
    margin-left: 3.25rem; /* 52px / 16px */
    margin-top: -1.25rem; /* -20px / 16px */
    font-size: 0.8125rem; /* 13px / 16px */
}

.post {
    width: 100%;
    height: auto;
}

.icons {
    width: 1.875rem; /* 30px / 16px */
    height: 1.875rem; /* 30px / 16px */
}

.img-div {
    margin-top: 0.625rem; /* 10px / 16px */
    gap: 0.625rem; /* 10px / 16px */
}

.icons:hover {
    opacity: 0.33;
}